.soal-page {
  background-image: url("../assets/bg.svg");
  height: 135vh;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.section-a {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.section-a h1 {
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  line-height: 1;
}

.section-a p {
  font-weight: lighter;
  font-size: 14px;
  color: white;
}

.progress {
  width: 80%;
  align-self: center;
}
