.sub-title {
  color: #0074e1;
  font-weight: bolder;
}

.question {
  margin: 10px 20px;
}

.choice {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
